# Lists

## Lists
- A list is a collection of items, that is stored in a variable. 
- The items should be related in some way, but there are no restrictions on what can be stored in a list.

### Syntax
list-name = [list of comma seperated values]

### Slicing with list

index start with 0

 listname[index_number]

 listname[start_index:end_index]

 listname[:end_index]

 listname[start_index:]


negative index: 
 listname[:-index] 


### list methods
- append()
- len()
- insert(index,value)
- sort()
- reverse()
- pop(), pop(index)
- min(), max(), sum()


We can change the contents of the lists after its creation

listname[index]=newvalue

#### Task 1: Run below code and try to make some changes to the code

In [1]:
# list creation
countries = ['India', 'Australia', 'USA']

# print whole list
print(countries)

# Accessing list elements
print("Value at 0 index: ",countries[0])

# assignning new value to index
countries[0]='Germany'

print("New value at index 0: ",countries[0])

['India', 'Australia', 'USA']
Value at 0 index:  India
New value at index 0:  Germany

### Iterating lists

#### Task 2: Run below code and try to make some changes to the code

In [2]:

hybridlists=['My name is',
             'I am in',
             3,
             'Semester']

print(hybridlists)

# we can access the elements of list using loops

for item in hybridlists:
    print(item)

['My name is', 'I am in', 3, 'Semester']
My name is
I am in
3
Semester

#### Task 3: Run below code and try to make some changes to the code

In [3]:
# print the index number with value

countries = ['India', 'Australia', 'USA']

for index, country in enumerate(countries):
    place = str(index)
    print("Index: " + place + ", Value: " + country)
    
# find index of
index = countries.index('India') 
print("\n Index of India is: ",index)

Index: 0, Value: India
Index: 1, Value: Australia
Index: 2, Value: USA

 Index of India is:  0

#### Task 4: Run below code and try to make some changes to the code

In [4]:
# Remove the last country from the list by index or by value
del countries[-1]

print(countries)

['India', 'Australia']

### List comprehension (with for loop)

#### Task 5: Run below code and try to make some changes to the code

In [5]:
# without comprehension

cubes = []
for x in [1, 2, 3, 4, 5]:
    cubes.append(x ** 3) 
    
print(cubes)

[1, 8, 27, 64, 125]

In [6]:
# with comprehension
  
cubes= [x**3 for x in [1, 2, 3, 4, 5]]
print(cubes)

[1, 8, 27, 64, 125]

In [7]:
numbers=[1,2,3,4,5,6,7,8,9,10]
list=[x for x in numbers]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Program 1: Write a python program which does the following
- Make a list that includes four job types , such as 'programmer', 'truck driver' and so on
- Use the *list.index()* function to find the index of one job type in your list.
- Use the *in* function to show that this job type is in your list.
- Use the *append()* function to add a new job type to your list.
- Use the *insert()* function to add a new job type "Python Programmer" at the beginning of the list.
- Use a loop to show all the job types in your list.

In [8]:
# Declaring Job Profiles
Job_Profile = ['Driver', 'Writer', 'Manager', 'Teacher']

# Finding index of Manager
Manager_idx = Job_Profile.index('Manager')
print("Index of 'Manager' is", Manager_idx)
print()

# Checking whether Poet is in our list or not
print('Poet' in Job_Profile)
print()

# Appending Poet in Job_Profile
Job_Profile.append('Poet')
print(Job_Profile)
print()

# Inserting Python Programmer at begining of list
Job_Profile.insert(0, 'Python Programmer')
print()

for Job in Job_Profile:
  print(Job)

Index of 'Manager' is 2

False

['Driver', 'Writer', 'Manager', 'Teacher', 'Poet']


Python Programmer
Driver
Writer
Manager
Teacher
Poet

#### Problem 2: Write a python program for following

- Make a list that includes the names of five famous people.
- Remove each person from the list, one at a time, using the four methods given below:
    - Del item from the list by del: del listname[index]
    - Remove the item from the list by remove method: listname.remove('itemname')
    - Using pop() method, It removes the last item from the list: listname.pop() 
    - Pop any item from the list by index: listname: listname.pop(index)
- Print out a message that there are no famous people left in your list, and print your list to prove that it is empty.

In [9]:
# Making the list
Famous_Persons = ['Virat Kohli', 'Hritik Roshan', 'Vishwanathan Anand', 'Satya Nadella', 'Elon Musk' ]

# Removing list item
del Famous_Persons[2]
print(Famous_Persons)

Famous_Persons.remove('Satya Nadella')
print(Famous_Persons)

Famous_Persons.pop()
print(Famous_Persons)

Famous_Persons.pop(0)
print(Famous_Persons)

Famous_Persons.pop()
print(Famous_Persons)

print("No Famous People are left into the list.")

['Virat Kohli', 'Hritik Roshan', 'Satya Nadella', 'Elon Musk']
['Virat Kohli', 'Hritik Roshan', 'Elon Musk']
['Virat Kohli', 'Hritik Roshan']
['Hritik Roshan']
[]
No Famous People are left into the list.

#### Program 3: Write a python program which does the following

- Store the first ten letters of the alphabet in a list.
- Use a slice to print out the first three letters of the alphabet.
- Use a slice to print out any three letters from the middle of your list.
- Use a slice to print out the letters from any point in the middle of your list, to the end.

In [10]:
# Making the alphabet list
Alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Printing out First 3 letters
print(Alphabet[:3])

# Printing out any 3 letters from middle
print(Alphabet[3:6])

# Printing out last 5 elements
print(Alphabet[5:])

['a', 'b', 'c']
['d', 'e', 'f']
['f', 'g', 'h', 'i', 'j']

#### Program 4: Write a python program for following

- Your goal in this exercise is to prove that copying a list protects the original list.
- Make a list with three people's names in it.
- Use a slice to make a copy of the entire list.
- Add at least two new names to the new copy of the list.
- Make a loop that prints out all of the names in the original list, along with a message that this is the original list.
- Make a loop that prints out all of the names in the copied list, along with a message that this is the copied list.

In [11]:
# Making The List
People_Orig = ['Honey', 'Bunny', 'Toney']

# Making a Copy
People_Copy = People_Orig[:]

# Adding 2 People
People_Copy.append('Goluu')
People_Copy.append('Chintoo')

# Displaying Original List
print("This is the Original List...")
for name in People_Orig:
  print(name)

print()
# Displaying Copied List
print("This is the copied List...")
for name in People_Copy:
  print(name)

This is the Original List...
Honey
Bunny
Toney

This is the copied List...
Honey
Bunny
Toney
Goluu
Chintoo

#### Program 5: Write a python program for following

- Create a list to store the marks of top 15 students obtained by the students in Python Quiz held on 21/08/2018. Maximum marks=15
- Print the maximum marks obtained by the student from the list.
- Print the minimum marks obtained by the student.
- Find the sum of all the marks.
- Find the average of the marks.
- Reverse the original list and display using for loop.

In [12]:
Marks = [12, 14, 15, 10, 11, 10, 13, 14, 13, 12, 15, 11, 12, 13, 14]

print("Maximum marks obtained: ", max(Marks))
print("Minimum marks obtained: ", min(Marks))
print("Sum of marks obtained: ", sum(Marks))
print("Average marks obtained: ", sum(Marks)/15)

rev_marks = Marks[::-1]
for i in rev_marks:
    print(i)

Maximum marks obtained:  15
Minimum marks obtained:  10
Sum of marks obtained:  189
Average marks obtained:  12.6
14
13
12
11
15
12
13
14
13
10
11
10
15
14
12

#### Program 6: Write a program in Python to create a list which contains n integers entered by the user and delete all odd numbers from the list. Example: If initial contents of the list is=[1,2,3,4,5,6,7,8,9,10], the output would be=[2,4,6,8,10].

In [1]:
n = int(input("Enter any number: "))
Numbers = []

for i in range(n):
  Num = int(input("Enter the number: "))
  Numbers.append(Num)

print("Initial List: ", Numbers)
lst = Numbers
for i in lst:
  if i%2 != 0:
    Numbers.remove(i)

print("Updated List: ", Numbers)

Enter any number: 5
Enter the number: 6
Enter the number: 2
Enter the number: 3
Enter the number: 8
Enter the number: 9
Initial List:  [6, 2, 3, 8, 9]
Updated List:  [6, 2, 8]

## Optional Questions

#### Program 7: Write a python program for following.
- Create an initial empty list named "countries" 
- Read the names of n countries from the user and add them to country list:
- Use for loop to display all the names of the countries from the list and add "is Great" after the country name if it is "India"

In [2]:
# Creating Empty List
Countries = []

n = int(input("Enter number of countries: "))

for _ in range(n):
  Name = input("Enter name of the country: ")
  Countries.append(Name)

for name in Countries:
  if name == 'India':
    print(name + " is Great.")
  else:
    print(name)

Enter number of countries: 3
Enter name of the country: India
Enter name of the country: USA
Enter name of the country: UK
India is Great.
USA
UK

### Program 8: Write a Python program to find the list in a list of lists whose sum of elements is the highest.
Sample lists: [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
Expected Output: [10, 11, 12]

In [3]:
# Creating The List
Nested_list = [[1, 2, 3], [4, 5, 6], [10, 11, 12], [7, 8, 9]]

# Finding The List With Highest Sum
i = 0
Sum = 0
for List in Nested_list:
  S = sum(List)
  if S >= Sum:
    Sum = S
    idx = i

  i = i + 1

print(Nested_list[idx])

[10, 11, 12]